include _views/archive
extends _views/main

block content
    article.article.archive
        header.header
            h1.title
                = 'Archive'
        div.content
            -var this_year
            -var this_month
            -var last_year
            -var last_month
            -var i=0
            -page.posts.each(function(post){
                -i++
                -var year = post.date.year()
                -var month = post.date.month()
                -if(last_year != year && last_year != null){
                    </ul>
                -}
                -if(last_month != month && last_month != null){
                        </ul>
                    </li>
                -}
                -if(this_year != year){
                    h2.archive-title
                        = year
                    -this_year = year
                    -last_year = year
                    <ul>
                -}
                -if(this_month != month){
                    li
                        h3.archive-title
                            = date(post.date, 'MMMM')
                        <ul>
                        -this_month = month
                        -last_month = month
                -}
                +archive(post, 'archive')
                -if(i == page.posts.length){
                    </ul>
                -}
            -})

block head
    title
        = 'Archives - ' + config.title
