extends _views/main

block content
    article.article.page
        header.header
            h1.title
                = page.title
            if page.layout != 'page'
                div.meta
                    span.date
                        = 'Posted on '
                        time(datetime = date_xml(page.date))
                            =date(page.date, theme.date_format)
        div.content
            != page.content
        div.footer
    nav#page-nav.page-nav
        div.nav-links
            div.nav-previous
                if page.next
                    a(href = config.root + (page.next.path || page.next_link))
                        span.nav-meta='← '
                        =page.next.title
            div.nav-next
                if page.prev
                    a(href = config.root + (page.prev.path || page.prev_link))
                        =page.prev.title
                        span.nav-meta=' →'

block head
    title
        = page.title
