@font-face
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 300
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(/fonts/robotoslab-light.woff) format('woff')

@font-face
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 400
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/fonts/robotoslab-regular.woff) format('woff')

@font-face
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 700
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(/fonts/robotoslab-bold.woff) format('woff')

@font-face
  font-family: 'Source Code Pro'
  font-style: normal
  font-weight: 400
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/fonts/source-code-pro.woff) format('woff')
