// Color
color-default = #555
color-border = #dedede
color-link = #7cc576
color-background = #eee
color-anti = #f4f9f6

// Font
font-sans = 'Roboto Slab', "Hiragino Sans GB", serif;
font-serif = "Georgia", "Times New Roman", Times, "Songti SC", "SimSun", sans-serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 16px
line-height = 1.7
line-height-title = 1.1
margin-hegiht = 1.5em
font-weight = 300

// Layout
block-margin = 50px
article-padding = 20px
max-width = 800px
