@import "_variables"

@import "_partial/normalize"
@import "_partial/global"

body
  font-family: font-sans
  font-weight: font-weight
  color: color-default

p
  line-height: line-height

blockquote p:first-child
  margin-top: 0

blockquote p:last-child
  margin-bottom: 0

code
  display: inline
  padding: 3px
  font-size: 0.85em
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -o-border-radius: 5px
  border-radius: 5px
  color: #50535a
  background-color: rgba(229, 192, 92, 0.3)

kbd
  display: inline-block
  padding: 0.1em 0.6em
  margin: 0 0.1em
  font-size: 0.85em
  line-height: 1.2
  white-space: nowrap
  text-shadow: 0 1px 0 #fff
  border: 1px solid #ccc
  background-color: #f7f7f7
  border-radius: 3px
  box-shadow: 0 1px 0px rgba(0,0,0,0.2), 0 0 0 2px #fff inset


.sidebar
  display: block
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 30%
  max-width: 450px
  background-color: color-link
  color: color-anti
  z-index: 1000

#header
  bottom: 0
  padding: 3em
  position: absolute

#header .site-title
  margin: 0
  font-size: 2.5em
  line-height: line-height-title

#header .site-title a
  position: relative
  color: color-anti
  text-decoration: none

#header .site-title a:hover
  opacity: 0.9

.content-area
  display: block
  margin-left: 30%
  max-width: max-width
  overflow: auto
  color: color-default

#primary
  display: block
  padding: 3em 5em
  max-width: max-width

@import "_partial/article"
@import "_partial/archive"
@import "_partial/pagination"

#footer
  font-size: 0.85em
  text-align: center
  opacity: 0.3

#footer:hover
  opacity: 1
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

@import "_partial/highlight"


@media screen and (max-width: 900px)
  .sidebar
    position: relative
    display: block
    height: auto
    width: 100%
    max-width: 100%

  #header
    position: relative
    bottom: 0
    padding: 15% 8%
    text-align: center

  #main
    display: block
    width: 100%

  #primary
    display: block
    margin-left: 0
    padding: 2.5em

::selection
  background: #999
  color: #f4f9f6