meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
if theme.rss
    link(rel='alternative', href=theme.rss, title=config.title, type='application/atom+xml')
if theme.favicon
    link(rel='icon', href=theme.favicon)
block head
!= css('css/all')
