/* =Global
----------------------------------------------- */
body,
button,
input,
select,
textarea
  color: color-default
  font-family: font-sans
  font-size: font-size
  line-height: line-height

hr
  background-color: color-border
  border: 0
  height: 1px
  margin-bottom: margin-hegiht

p
    margin: margin-hegiht 0


ul, ol
    margin: 0 0 margin-hegiht

ul
    list-style: disc

ol
    list-style: decimal

li > ul,
li > ol
    margin: 5px 1em

ul ul, ol ul
  list-style-type: circle

dt
    font-weight: bold

dl
    margin: 0 margin-hegiht margin-hegiht 0

b, strong
    font-weight: bold

dfn, cite, em, i
    font-style: italic

abbr[title], acronym[title]
  cursor: help;
  border-bottom: 1px dotted #999;

blockquote
  margin: margin-hegiht
  padding: 1em margin-hegiht
  border-left: 5px solid #eee
  color: #999

address
  margin: 0 0 line-height

pre
  background: color-background
  font-family: font-mono
  font-size: 15px
  line-height: line-height
  margin-bottom: margin-hegiht
  padding: margin-hegiht
  overflow: auto
  max-width: 100%

code, kbd, tt, var 
  font: 15px Monaco, Consolas, monospace;

mark, ins
  background: #fff9c0
  text-decoration: none

sup,
sub
  font-size: 75%
  height: 0
  line-height: 0
  position: relative
  vertical-align: baseline

sup 
  bottom: 1ex

sub
  top: .5ex

small
  font-size: 75%

big 
  font-size: 125%

figure
  margin: 0

table
  margin: 0 0 1.5em
  width: 100%
  border: 1px solid #cbcbcb

thead
  background: #eee

th
  font-weight: bold
  border-left: 1px solid #cbcbcb
  overflow: visible
  padding: 0.5em 1em

tr
  border-bottom: 1px solid #cbcbcb

td
  border-left: 1px solid #cbcbcb
  overflow: visible
  padding: 0.5em 1em


img
  display: block
  margin: margin-hegiht 0
  height: auto
  max-width: 100%
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px



a
  color: color-link

a:hover,
a:visited:hover
a:focus,
a:active
  color: #666
  text-decoration: none
  opacity: 1
  border: none
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;


.pull-left 
  float: left !important

.pull-right 
  float: right !important

.center-block
  display: block
  margin-left: auto
  margin-right: auto


/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after
    content: ''
    display: table


.clear:after,
[class*="content"]:after,
[class*="site"]:after 
    clear: both


/* Text meant only for screen readers */
.screen-reader-text 
    clip: rect(1px, 1px, 1px, 1px)
    position: absolute !important

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus
    background-color: #f1f1f1
    border-radius: 3px
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)
    clip: auto !important
    color: #21759b
    display: block
    font-size: 14px
    font-weight: bold
    height: auto
    left: 5px
    line-height: normal
    padding: 15px 23px 14px
    text-decoration: none
    top: 5px
    width: auto
    z-index: 100000
